* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./Card/card-image2.jpg");
  /* background-image: url("./Card/card-image3.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

/* .app {
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 223, 196);
}

.app-body {
  margin-top: 10px;
  display: flex;
  background-color: rgb(125, 226, 122);
} */

.book-container {
  display: flex;
  justify-content: space-around;
  /* background-color: aquamarine; */
  min-height: 100%;
  gap: 10rem;
}
